* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  opacity: 0.9;
  height: 70px;
  width: 100%;
  background-color: whitesmoke;
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  float: left;
}

.logo {
  height: 70px;
}

.header-list {
  float: right;
}

.header-list a {
  line-height: 70px;
  padding: 0 20px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-list a:hover {
  color: burlywood;
  /*font-size: 18px;*/
}

.menu-icon {
  color: whitesmoke;
  float: right;
  padding: 27px 10px 0 0;
  display:none;
}

.top-wrapper {
  padding: 150px 0 150px 0;
  background-image:url('image/wall.jpg');
  background-size: cover;
  color: white;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 42px;
  letter-spacing: 2px;
  text-shadow: -1px 0 rgb(80, 75, 75), 0 1px rgb(80, 75, 75), 1px 0 rgb(80, 75, 75), 0 -1px rgb(80, 75, 75);
}

.top-wrapper h2 {
  opacity: 0.9;
  font-size: 30px;
  letter-spacing: 1px; 
  
}

.top-wrapper p {
  opacity: 0.9;
  width: 36%;
  letter-spacing: 1px;
  line-height: 20px;
}

.top-wrapper a {
  color: white;
  }

.top-btn {
	display: inline-block;
	font-size: 12px;
  margin-top: 20px;
	padding: 15px 25px;
	color: #fff;
	line-height: normal;
	border: 2px solid #fff;
  transition: all 0.5s;
  border-radius: 3px;
}

.top-btn i {
	font-size: 14px;
	margin-left: 4px;
}

.top-btn:hover {
	color: black;
  background:white; 
}

.fadeIn {
  position: relative;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {opacity: 0; right: 1000px;}
  to {opacity: 0.9; right: 0px;}
}

.fadeInP {
  position: relative;
  animation-name: fadeInP;
  animation-duration: 3s;
}

@keyframes fadeInP {
  from {opacity: 0; right: 1000px;}
  to {opacity: 0.9; right: 0px;}
}

.fadeInB {
  animation-name: fadeInB;
  animation-duration: 5s;
}

@keyframes fadeInB {
  from {opacity: 0; }
  to {opacity: 1; }
}

/* ----- Batas ----- */

.lesson-wrapper {
  height: 560px;
  padding-top:20px;
  background-color: #F8EFBA;
  opacity:0.8;
  text-align: center;
}
.lesson-wrapper h2{
   padding-top: 30px;
   padding-bottom:20px;
  
}


.heading {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 30%;
}

.lesson-icon {
  position: relative;
  margin:0;
}


.lesson-icon p {
  position: absolute;
  top: 30%;
  width: 100%;
  color: white;
  font-size:10px;
  display: block;
  transition: all 0.5s;
}
.lesson-icon a{
 position:absolute;
  top: 20%;
  width: 100%;
  font-size:20px;
  display: block;
  transition: all 0.5s;
   z-index: 1;

}

.lesson-icon p:hover{
    color: rgb(235, 26, 43);
    font-size:25px
}
.lesson-icon a:hover{
    color: rgb(230, 156, 21);
    top:10%;
    font-size:25px
}
  
img{
  border-radius: 50%;
  vertikal-align: midle;
  border-style:none;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 10px;
  font-size: 10px;
  color:white;
}